.blog2 {
    .blog2_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .blog2_content1 {
        width: 440px;

    }

    .blog2_texts2 {
        width: 400px;
        margin-top: 80px;

    }

    .blog2_img1 {
        margin-top: 90px;
        color: var(--text-color, #414141);
        font-size: 18px;
        font-family: Roboto;
        letter-spacing: 0.27px;
    }

    .blog2_text2 {
        margin-top: 15px;
        color: #686868;
        font-size: 14px;
        font-family: Roboto;
        line-height: 140.188%;
    }
}