.navbar {
    background-color: white;
    .navbar_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        cursor: pointer;
    }

    .navbar_text {
        margin: 50px 38px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #414141;
        cursor: pointer;
    }

    .navbar_btn {
        background-color: #F9F9F9;;
        width: 250px;
        height: 40px;
        padding: 15px;
        outline: none;
        border: none;
        color: #414141;
    }
}